@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.mapbox-logo{
  display: none !important;
}

.box-shadow-inner {
  box-shadow: inset 0 0 0 20px var(--ring-color, #000); /* Adjust the '2px' to your desired ring width and the color as needed */
}


/* For screens up to 768px wide (or adjust as needed) */
@media (max-width: 768px) {
  .custom-grid {
      margin-left: 0;   /* Set left margin to zero */
      margin-right: 0;  /* Set right margin to zero */
  }
}

/* Hide elements by default (for larger screens) */
.hide-on-desktop {
  display: none;
}

/* Enter animation */
.item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

/* No exit animation as the item should disappear instantly */
.item-exit {
  display: none;  /* Ensure the item doesn't take up any space */
}

.hide-on-mobile {
  display: none;
}



.chart-container {
  min-width: 1px;  
  min-height: 1px; 
}

.map {
  height: 100%;
}


/* Display alternate text on mobile devices */
@media (max-width: 768px) {
  .show-on-mobile {
    display: inline;
  }

  .hide-on-mobile {
    display: none;
  }
}

/* Default styles for larger screens */
.text-sm-mobile {
  font-size: inherit;
}

.metric-sm-mobile {
  font-size: inherit;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .text-sm-mobile {
      font-size: 0.6rem; /* Adjust this value based on your design requirements */
  }

  .metric-sm-mobile {
      font-size: 0.85rem; /* Adjust this value based on your design requirements */
  }
}



/* This media query applies to mobile devices with max-width of 768px */
@media (max-width: 768px) {
  .small-text-on-mobile {
    font-size: 0.8rem;  /* Adjust the size according to your needs */
  }

  .small-metric-on-mobile {
    font-size: 1.4rem;  /* Adjust the size according to your needs */
  }
}




table {
  max-height: 400px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.table-container .tremor-Table-root {
  overflow: initial !important;
}

table, table th, table td {
  box-sizing: border-box;
}

.map-container {
  height: 400px;
  }
   




table thead th {
  position: sticky;
  top: 0;  /* Adjusted to 0 */
  background-color: #111827;
  z-index: 3;
}

@media (max-width: 768px) {
  .table-container .hide-columns th:not(:first-child),
  .table-container .hide-columns td:not(:first-child) {
      display: none;
  }
}

@media (min-width: 768px) {
  .md:table-header {
      display: table-header-group;
  }
}




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseScale {
  0% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0.8);
  }
}

.pulseOpacity {
  animation: pulseOpacity 5s infinite;
}

.pulseScale {
  animation: pulseScale 5s infinite;
}

@media (max-width: 768px) {
  .table-container .hiddenspecial th:nth-child(3),
  .table-container .hiddenspecial td:nth-child(3) {
      display: none;
  }
}

